/* ========================================== */

/* #footBox */
#footBox {position: relative; width: 100%; height: 18.75rem; 
    background-color: #423a3a;
    padding: 6.875rem 0 5.625rem; box-sizing: border-box;}
.footer_adress {width: 65.625vw; min-width: 56.25rem; 
    height: auto; min-height: 4.375rem; margin: auto;}
.footer_adress h2 {float: left; width: 15rem; height: 4.375rem;
    background-size: contain; background-position: 50% 50%;
    background-repeat: no-repeat; 
    background-image: url("../../../../img/main/footBox/foot_logo.png");}
adress {float: right; width: 70%; height: auto;}
adress > p {text-align: left; color: #fff;line-height: 1.875rem;}
.copyright {margin-top: .625rem;}
/* footer top*/
.footer_family_area {position: absolute; top:0; left: 0;
    width: 100%; height: 3.75rem; background-color: #1ea;}
.footer_family_area > div { 
    color: #fff; font-size: 1.875rem; }
.app_down {float: left; width: 50%; height: 100%; 
    background-color: #811414; color: #fff; font-size: 1.875rem; 
    text-align: center; font-weight: 600; line-height: 3.75rem;}
.family_site_area {float: left; width: 50%; height: 300%;}
.family_site_area dl {position: relative; width: 100%; height: 100%; z-index: 800;}
.family_site_area dt {width: 100%; height: 3.75rem; color: #fff; 
    font-size: 1.875rem; background-color: #660000;
    text-align: center; font-weight: 600; line-height: 3.75rem;}
.family_site_area dt i {margin-left: 1.25rem; font-size: 2rem;}
.family_site_area dt.footer_action i{transform: rotate(180deg); }
.family_site_area dd {display: none; 
    position: absolute; bottom: 11.25rem; left: 0;
    width: 100%; height: 7.5rem; background-color: rgba(0,0,0,0.7);}
.family_site_area dd ul {width: 100%; height: 100%;}
.family_site_area dd ul li {width: 100%; height: 50%; 
    font-size: 1.25rem; text-align: center; line-height: 3.75rem;
    color: #fff;}