/* jinypage.css */

#wrap {width: 100%; height: auto; min-height: 5000px;
  background-color: #020202;}

/* ======================================= */
 
#headBox {position: fixed; z-index: 1500; top: 0; left: 0;
  width: 100%; height: 100vh; min-height: 600px;
  background-color: #ddd;}

#headBox.default::before {content: " "; display: block; 
  position: absolute; top: 0; left: 0; z-index: 500;
  width: 100%; height: 100%;}

h1 {position: absolute; left: 0; right: 0; top: 0; bottom:0; 
  z-index:100;margin:auto;  width:500px; height:300px; opacity: 1;
  background-image: url("../../img/logo.png"); 
  background-size: contain; background-repeat: no-repeat;
  background-position: 50% 50%; 
  filter:drop-shadow(0 0 0.5rem rgba(0,0,0,0.7));}

.webdesign_area {position: absolute; 
  left: 0; right: 0; top: 0; bottom:0; opacity: 0;
  z-index:100;margin:auto;  width:500px; height:400px;}
.webdesign_icon {width: 100px; height: 100px; margin: auto; margin-bottom: 50px;
  background-size: contain; background-repeat: no-repeat;
  background-position: 50% 50%; background-image: url("../../img/computer.svg");}
.webdesign_area dl {width: 100%; height: 250px;}
.webdesign_area dt {width: 100%; height: 80px; margin-bottom: 50px; 
  color: #fff; font-size: 4rem; font-weight: bold;
  text-align: center; line-height: 80px; text-transform: uppercase;}
.webdesign_area dd {width: 100%; height: 120px;
  color: #fff; font-size: 1rem; font-weight: 400; word-break: keep-all;
  text-align: center; line-height: 40px; text-transform: uppercase;}

.image_area {position: absolute; top: 0; left: 0;  
  width: 100%; height: 100%;}
.image_area div {position: absolute; top: 0; left: 0;  
  width: 100%; height: 100%;
  background-repeat: no-repeat; background-size: cover;}

.front_image{background-position:50% 50%; z-index:10;        
  background-image: url("../../img/bg2.png");}
.back_image{background-position:50% 0; z-index:5;
  background-color: rgba(0,0,0,0);
  background-image: url("../../img/bg1.png");}

.back_image::after {content: " "; display: block; width: 100%; height: 100%;
  position: absolute; top: 0; left: 0; z-index: 1505; background-color: inherit;}

@keyframes down {
    0% {bottom: 90px;}
    5% {bottom: 90px;}
    30% {bottom: 70px;}
    50% {bottom: 50px;}
    70% {bottom: 30px;}
    100% {bottom: 30px;}
}

.mouse_scroll {position: absolute; bottom: 50px; left: 50%;
  transform: translateX(-50%); z-index: 1550;
  width: 70px; height: 70px; opacity: 1;
  filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.7));
  background-repeat: no-repeat; background-size: contain;
  background-position: 50% 50%;
  background-image: url("../../img/mousescroll.png");
  animation:down 3000ms infinite linear;} 

/* ======================================= */

#navBox {position: fixed; z-index: 1510; top: 0; right: 0;
  width: 100%; height: 90px; 
  padding: 20px 50px; box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);}

.homeicon {float: left; width: 50px; height: 50px;
  background-size: contain; background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../img/home.svg");}
#navBox ul {float: right; width: 700px; height: 50px;}
#navBox li {float: left; width: 200px; height: 100%;
  margin-left: 50px;}
#navBox li:first-child {margin-left: 0;}
#navBox li a {width: 100%; height: 100%; display: block;
  font-size: 2rem; font-weight: bold; text-align: center;
  line-height: 50px; color: #fff; text-transform: capitalize;}
#navBox li:hover a {color:#ffffb3;}

/* ======================================= */

.blink_area {position: relative; width: 100%; height: 4050px; 
  background-color: #020202;}

.scroll_line {position: absolute; bottom: 0; left: 0; right: 0; z-index: 1510;
  margin: auto; width: 3px; height: 300px; 
  background-image: linear-gradient(180deg, #020202, #aaa);}
/* ======================================= */

#aboutmeBox {position: relative; width: 100%; max-width: 1440px;
  height: 800px; margin: auto; margin-top: 100px;
  padding-bottom: 100px; box-sizing: border-box;
  background-color: #020202;}
#aboutmeBox > ul {width: 100%; height: 100%;}
#aboutmeBox > ul > li {position: relative; z-index: 0; 
  overflow: hidden;
  float: left; width: 33.333333%; height: 100%;
  outline: none; transition: all 300ms ease;}
#aboutmeBox > ul > li:hover {transform: scale(1.1); 
  z-index: 50; outline: 3px solid #ffffb3;}
#aboutmeBox > ul > li:after, #aboutmeBox > ul > li::after {
  content: " "; display: block; 
  position: absolute; top: 0; left: 0;
  width: 100%; height: inherit; z-index: 100;
  background-color: rgba(0,0,0,0.3);}
#aboutmeBox > ul > li:hover:after, #aboutmeBox > ul > li:hover::after {
  display: none;}

#aboutmeBox li button {position: relative;
  width: 100%; height: 100%; display: block;
  background-repeat: no-repeat; background-size: cover;
  background-position: 50% 100%;}

#aboutmeBox li:nth-child(1) button {
  background-image: url(../../img/star1.jpg);}
#aboutmeBox li:nth-child(2) button {
  background-image: url(../../img/star2.jpg);}
#aboutmeBox li:nth-child(3) button {
  background-image: url(../../img/star3.jpg);}

#aboutmeBox li span {
  display: block; position: absolute; 
  top: 120px; left: 0; right: 0;
  width: 100%; height: 50px; margin: auto;
  color: #fff; font-size: 2rem; font-weight: bold;
  text-align: center; line-height: 50px;
  text-transform: uppercase;}
#aboutmeBox > ul > li:hover span {font-size: 2.5rem;}

/* modal */
.a_modal {position: absolute; top: 0; left: 50%;
  transform: translateX(-50%); z-index: 100;
  padding: 50px; box-sizing: border-box;
  display: none; width: 100%; max-width: 1440px; 
  height: 700px; background-color: #2c3e50;}
.modal_content {width: 100%; height: 100%;
  padding: 30px; border: 2px solid #aaa; 
  box-sizing: border-box;}
.modal_title {width: 700px; height: 50px;
  font-size: 3rem; font-weight: 900; color: #fff;
  line-height: 50px; text-align: left; text-transform: uppercase;}
.close_btn {position: absolute; top: 80px; right: 80px;
  width: 50px; height: 50px;
  background-repeat: no-repeat; background-size: contain;
  background-position: 50% 50%; 
  background-image: url("../../img/close_icon.png");
  transition: all 300ms ease; cursor: pointer;}
.close_btn:hover {transform: rotate(180deg);
  background-image: url("../../img/close_icon_hover.png");}
.modal_img {background-size: contain; background-repeat: no-repeat;
  background-position: 50% 50%;}

/*about me modal*/
.about_img {float: left; margin-top: 30px; 
  width: 460px; height: 460px;
  background-image: url("../../img/aboutme_img.jpg");}
.about_text {float: right; margin-top: 80px;
  width: 770px; height: 410px;}
.about_text p {color: #fff; text-align: left;}
.about_name {width: 100%; height: 30px; font-size: 1.5rem;
  line-height: 30px;}
.about_name span {font-size: 2rem; font-weight: 600;}
.about_info {width: 100%; height: 40px; margin-top: 20px; 
  font-size: 1rem; line-height: 25px}
.about_contact {width: 100%; height: 100px; margin-top: 50px;
  font-size: 1rem; line-height: 25px;}
.about_hobby {width: 100%; height: 120px; margin-top: 50px;}
.about_hobby p {width: 100%; height: 20px; margin-bottom: 20px;
  color: #fff; font-size: 1rem; line-height: 20px;}
.about_hobby ul {width: 100%; height: 80px;}
.about_hobby ul li {float: left; width: 240px; height: 100%; 
  margin-right: 25px;}
.about_hobby ul li:last-child {margin-right: 0;}
.hobby_icon {float: left; width: 80px; height: 80px; 
  margin-right: 20px; background-repeat: no-repeat; 
  background-size: contain; background-position: 50% 50%;}
.drawing {background-image: url("../../img/hobby_drawing.png");}
.film {background-image: url("../../img/hobby_film.png");}
.video {background-image: url("../../img/hobby_video.png");}
.about_hobby dl {float: left; width: 140px; height: 80px;}
.about_hobby dl dt {width: 100%; height: 20px; margin-bottom: 20px;
  font-size: 1rem; font-weight: bold; color: #fff;
  text-align: left; line-height: 20px;} 
.about_hobby dl dd {width: 100%; height: 40px;
  font-size: 1rem; color: #fff; line-height: 20px;
  word-break: keep-all;}

/*experience modal*/
.experience_list {width: 100%; height: 150px; margin-top: 30px;}
.experience_list li {width: 100%; height: 20px;
  list-style: inside; color: #fff; font-size: 1rem;
  text-align: left; line-height: 20px; margin-bottom: 20px;}
.certificate,.award {float: left; width: 40%; height: 230px; 
  margin-top: 50px; margin-right: 10%;}
.award {margin-right: 0;}
.ex_subtitle {width: 100%; height: 30px; margin-bottom: 30px;
  font-size: 1.5rem; font-weight: bold;
  text-align: left; line-height: 30px;
  text-transform: uppercase; color: #fff;
  border-bottom: 1px solid #fff;}
.ex_list {width: 100%; height: 170px;
  font-size: 1rem; color: #fff;
  text-align: left; line-height: 35px;}

/*skills modal*/
.paper {width:100%; height: auto; margin-top: 30px;}

/* ======================================= */

#workBox {position: relative; width: 100%; height:41.666666vw;
  background-size: cover; background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../../img/work_bg2.png");}

.works_title {position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%); z-index: 10;
  width: 100px; height: 50px;
  color: #fff; font-size: 3rem; font-weight: bold;
  text-align: center; line-height: 50px;
  text-transform: uppercase;}

/* ======================================= */

#portfolioBox {width: 100%; max-width: 1440px;
  height: 800px; margin: auto; margin-top: 100px;
  background-color: #020202;}
#portfolioBox ul {width: 100%; height: 100%;}
#portfolioBox li {float: left; width: 45%; height: 100%;}
.strawberry_farm {margin-right: 10%;}

.port_img {width: 100%; height: 600px;
  border: 2px solid #aaa; box-sizing: border-box;
  background-repeat: no-repeat; background-size: cover;
  background-position: 50% 50%; margin-bottom: 30px;}
.strawberry_farm .port_img {
  background-image: url("../../img/strawberry_farm.png");}
.seoulland .port_img {
  background-image: url("../../img/seoulland.jpg");}

.port_context {width: 100%; height: 80px; margin: auto;}
.port_context dt {width: 100%; height: 50px;
  font-size: 2rem; font-weight: 900; color: #fff;
  text-align: left; line-height: 50px;}
.port_context dd {width: 100%; height: 20px;
  margin-top: 10px; font-size: 1rem; font-weight: 400;
  color: #fff; line-height: 20px;}

.port_go {width: 100%; height: 60px; margin-top: 30px;}
.port_go div {float: left; width: 45%; height: 100%;
  border: 2px solid #aaa; box-sizing: border-box;}
.port_go div a {width: 100%; height: 100%; display: block;
  font-size: 1.5rem; font-weight: bold; color: #fff;
  text-align: center; line-height: 60px;}
.go_homepage {margin-right: 10%;}

.port_go div:hover a {background-color: #fff; color: #020202;}

/* ======================================= */

.blink_area2 {position: relative; width: 100%; height: 500px; 
  background-color: #020202;}

.scroll_line {position: absolute; bottom: 0; left: 0; right: 0; z-index: 1510;
  margin: auto; width: 3px; height: 300px; 
  background-image: linear-gradient(180deg, #020202, #aaa);}
/* ======================================= */

#contactBox {width: 100%; height: 650px; margin-top: 100px;
  background-color: #020202;}
.contact_title {width: 80%; height: 100px;
  border-bottom: 2px solid #aaa; margin: auto; 
  text-align: center; line-height: 100px;
  font-size: 3rem; font-weight: 900;color: #fff;
  text-transform: capitalize; }
.contact_message {width: 80%; height: 30px; margin: auto; 
  margin-top: 30px; text-align: center; line-height: 30px;
  font-size: 1rem; font-weight: 100; color: #fff;}
.contact_list {width: 380px; height: auto; margin: auto;
  margin-top: 50px; font-size: 1.5rem; font-weight: 400;
  text-align: left; line-height: 80px; color: #fff;}
.contact_list li:nth-child(2):hover {color: #ffffb3;}
.resume {width: 380px; height: 50px; margin: auto;
  margin-top: 30px; border: 2px solid #aaa;
  box-sizing: border-box; color: #fff; font-size: 1.5rem;
  font-weight: 400; text-align: center; line-height: 50px;}
.resume:hover {background-color: #fff; color: #020202;}
.copyright {width: 80%; height: 50px; margin: auto;
  margin-top: 80px; text-align: center; line-height: 30px;
  color: #fff; font-size: 1rem; font-weight: 100;}
/* ==========================================
=============================================
========================================== */

@media screen and (max-width:480px) {
  
} /* mobile ========== */

/*====================================================*/

@media screen and (min-width:481px) and (max-width:1024px) {
  
} /* tablet ========== */

/*====================================================*/

@media screen and (min-width:1025px) and (max-width:1440px) {
  
} /* labtop ========== */

/*====================================================*/

@media screen and (min-width:1441px) and (max-width:1920px) {
  
} /* pc ========== */

