/* seoulland_main.css */

/* 공통부분 - 1920px 기준*/
#wrap {position: relative; width: 100%; height: auto; min-height: 500px;}
#promotionBox,#lunaBox,#attractionBox,#informationBox
    {width: 100%; height: 100vh; min-height: 960px;
    padding: 240px 0 90px; box-sizing: border-box;}
.section_title {width: 460px; height: 50px; margin: auto;
    font-size: 40px; text-align: center; line-height: 50px;
    color: #333; font-weight: 900;}
/* ========================================== */

/************* #headBox *************/
#headBox {position: fixed; top: 0; left: 0; z-index: 500;
    min-height: 960px;
    width: 100%; height: 9.375vw; min-height: 140px; 
    max-height: 180px; background-color: rgba(0,0,0,0.5);}

/* #headBox - .headBottom */
.headBottom {width: 100%; height: 100%; 
    padding: 60px 90px 20px; box-sizing: border-box;}
.headbottom_wrap {position: relative; width: 100%; height: 100%;}
h1 {float: left; width: 18.75vw; min-width: 220px; height: 100%;}
h1 a {background-image: url("../../img/main/headBox/logo(white).png");
    background-repeat: no-repeat; background-size: contain;
    background-position: 50% 50%;}
.headbottom_wrap p {
    position: absolute; bottom: 0; left: 50%; transform: translate(-50%);
    width: 540px; height: 60px; font-size: 30px; font-weight: 600;
    text-align: center; line-height: 60px; color: #fff;}

/****** 검색, 메뉴영역 ******/
#navBox {float: right; width: 7.291666vw; min-width: 100px; height: 100%;}
.searchBox, .menuBox {float: left; width: 45%; height: 100%;
    background-repeat: no-repeat; 
    background-position: 50% 50%; background-size: contain; }
.searchBox {background-image: url("../../img/main/headBox/search_icon.png");}
.menuBox {float: right;}

/* 메뉴 아이콘 */
.menu_btn {position: relative; z-index: 601; width: 100%; height: 100%;}
.menu_btn button {width: 100%; height: 100%;}
.menu_btn i {display: block; position: absolute;
    top:0; bottom: 0; right: 0; left: 0; margin: auto;
    border-radius: 5px; opacity: 1; transition: all 300ms ease;
    width: 3.125vw; min-width: 45px; max-width: 60px; 
    height: 4px; background-color: #fff;}
.line_02 {transform: translateY(-25px);}
.line_03{transform: translateY(25px);}
.menu_btn.on .line_01{opacity: 0;}
.menu_btn.on .line_02{transform: translateY(0) scaleX(1.3) rotate(50deg); background-color: #333;}
.menu_btn.on .line_03{transform: translateY(0) scaleX(1.3) rotate(-50deg); background-color: #333;}

/* 메뉴 영역 */
.menu_area_wrap {display: none;  position: fixed; 
    top: 0; right: 0; z-index:510;
    width: 100%; height: 100%; min-height: 960px;
    background-color: rgba(255,255,255,1);
    padding:60px 90px 120px; box-sizing: border-box;}
.red_logo {float: left; width: 18.75vw; min-width: 220px; 
    height: 5.20833333vw; min-height: 60px;
    background-image: url("../../img/main/headBox/logo.png");
    background-repeat: no-repeat; background-size: contain;
    background-position: 50% 50%;}
.menu_area {width: 65.625vw; min-width: 800px; 
    max-width: 1260px; height: 470px; 
    margin: auto; margin-top: 13.02083vw;}
.menu_area > ul {width: 100%; height: 100%;}
.menu {position: relative; float: left; 
    width: 25%; height: 100%;}
.menu::after {content: ""; display: block;
    position: absolute; top:0; right: 0;
    width: 2px; height: 100%; background-color: #ddd;}
.menu:last-child::after {display: none;}
.menu dl {width: 100%; height: 100%;}
.menu dt {position: relative; width: 100%; height: 40%;
    color: #333; font-weight: bold; text-align: center;
    line-height: 330px; font-size: 30px;}
.menu dt::before {content: " "; display: block;
    position: absolute; top:0; left: 50%; transform: translate(-50%); width: 80px; height: 80px; 
    background-size: contain; background-repeat: no-repeat;
    background-position: 50% 50%;}
.menu_01_icon::before {background-image: url("../../img/main/headBox/info_icon.png");}
.menu_02_icon::before {background-image: url("../../img/main/headBox/money_icon.png");}
.menu_03_icon::before {background-image: url("../../img/main/headBox/amusement_icon.png");}
.menu_04_icon::before {background-image: url("../../img/main/headBox/notice_icon.png");}
.menu dd {width: 100%; height: 50%; margin-top: 10%;
    text-align: center; font-size: 24px; font-weight: 400;
    line-height: 50px; color: #333;}


/*검색 영역*/
.seach_area_wrap {display: none;}


/* #headBox - .headtop */
.headtop {position: absolute; top: 0; left: 0;
    width: 100%; height: 40px; padding: 7px 0; box-sizing: border-box; background-color: var(--color-darkred);}
.headtop_wrap {width: 65.625vw; min-width: 350px; height: 100%; 
    margin: auto;}
.sns_mobile_icon {display: none;}
.sns_wrap {float: left; width: 240px; height: 100%;}
.snsBox {width: 100%; height: 100%; 
    display: flex; justify-content: space-between;}
.snsBox li {float: left; width: 15%; height: 100%;
    background-repeat: no-repeat; background-size: contain;
    background-position: 50% 50%;}
.snsBox li:nth-child(1){background-image: url("../../img/main/headBox/facebook_icon.png")}
.snsBox li:nth-child(2){background-image: url("../../img/main/headBox/insta_icon.png")}
.snsBox li:nth-child(3){background-image: url("../../img/main/headBox/blog_icon.png")}
.snsBox li:nth-child(4){background-image: url("../../img/main/headBox/kakaostory_icon.png")}
.snsBox li:nth-child(5){background-image: url("../../img/main/headBox/youtube_icon.png")}

.loginBox {float:right; width: 150px; height: 100%;}
.loginBox li {position: relative; float: left; 
    width: 50%; height: 100%; 
    color: #fff; font-size: 23px; font-weight: 400;
    line-height: 26px; text-align: left;}
.loginBox li:nth-child(1)::after {position: absolute;
    top: 3px; right: 0; content: " ";
    width: 2px; height: 80%; background-color: #fff;}
.loginBox li:nth-child(2) {text-align: right;}

/* ========================================== */

/* #localNavBox */
/* section_move_indicator*/
#localNavBox {position: fixed; top:0; right: 0;
    width: 470px; height: 100vh; z-index: 50;
    padding: 290px 90px 220px 0; box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);}
.local_nav_wrap {width: 100%; height: 100%;}
.local_nav_wrap > li {width: 100%; height: 30px;
    margin-bottom: 20px; color: #fff; font-size: 24px;
    font-weight: 600; line-height: 30px; text-align: right;}
.local_nav_wrap > li  i {display: block; float: right;
    width: 30px; height: 5px; margin-left: 10px;
    background-color: #fff; margin-top: 9px;
    transition: all 300ms ease; border-radius: 20px;}
.local_nav_wrap > li:hover {transform: scale(1.4) translateX(-50px);}
.local_nav_wrap > li:nth-child(5) {margin-bottom: 0;}
.local_nav_wrap > li a {outline: 0;}
/* 1:1질문하기 */
.local_nav_wrap .qusetion_area {float:right; 
    width: 140px; height: 140px; margin-top: 30px;
    border-radius: 140px; background-color: var(--color-red);}
.local_nav_wrap .qusetion_area:hover {transform: none;}
.question_box {position: relative; width: 100%; height: 100%;}
.question_box dt {width: 100%; height: 100%;}
.question_box dt > a {position: relative; display: block;
    width: 100%; height: 100%; }
.question_box dt .center_line {top:30%;}
.question_box dt .center_text{opacity:1;}

/* 1:1질문하기 - hover */
.question_box dd {display: none;
    position: absolute; top:0; right: 0;
    width: 720px; height: 140px; z-index: 60; 
    padding: 40px 60px; box-sizing: border-box;
    border-radius: 140px; box-shadow: 3px 4px 8px #333;
    background-color: var(--color-red);}
.question_list {float: left; width: 480px; height: 100%;}
.question_list li {float:left; width: 30%; height: 100%;
    color: #fff; font-size: 24px; font-weight: 600;
    text-align: center; line-height: 60px;}
.question_list li:hover a {outline: 3px solid #f70;}
.question_list li:last-child {width: 40%;}
.question_close {float: right; width: 60px; height: 60px;
    transition: all 300ms ease;}
.question_close:hover {transform: rotate(180deg);}
.question_close button {width: 100%; height: 100%;
    background-repeat: no-repeat; background-size: contain;
    background-position: 50% 50%; background-image: url("../../img/main/aside/hover_close_icon.png");}


/* scroll icon */
/* ========================================== */

/* #viewBox */
#viewBox {position: relative; width: 100%; min-height: 960px;
    height: 100vh; min-height: 270px; background-color: #aaa;}

/* #viewBox - image*/
.view_img_wrap { width: 100%; height: 100%; overflow: hidden;}
.view_img_wrap ul {position: relative;width: 500%; height: 100%;}
.view_img_wrap ul li {float: left; width: 20%; height: 100%;
    background-repeat: no-repeat; background-size: cover;
    background-position: 50% 50%}
.view_img_01 {
    background-color: #f08000;
    background-image: url("../../img/main/viewBox/main_img_01_full.jpg")}
.view_img_02 {
    background-color: #f08000;
    background-image: url("../../img/main/viewBox/main_img_02_full.jpg")}
.view_img_03 {
    background-color: #f08000;
    background-image: url("../../img/main/viewBox/main_img_03_full.jpg")}
.view_img_04 {
    background-color: #f08000;
    background-image: url("../../img/main/viewBox/main_img_04_full.jpg")}
.view_img_05 {
    background-color: #f08000;
    background-image: url("../../img/main/viewBox/main_img_05_full.jpg")}

/* #viewBox - indicator*/
.view_indicator{position: absolute; bottom: 130px; right: 90px;
    width: 300px; height: 30px; z-index: 51;}
.view_indicator ul {width: 100%; height: 100%;}
.view_indicator li {float: left;
    width: 30px; height: 30px; margin-right: 20px;
    background-color: #878787; border-radius: 30px;
    border: 5px solid #fff; box-shadow: inset 3px 3px #333;
    box-sizing: border-box;}
.view_indicator li.view_action {width: 100px; 
    background-color: var(--color-red);}
.view_indicator li:last-child {margin-right: 0;}

/* ========================================== */

/* #promotionBox */
.pro_full_wrap {position: relative; 
    width: 65.625vw; min-width: 900px;
    height: 100%; margin: auto;}

/* #promotionBox - mobilebtn*/
.promotion_btn {display: none;}

/* #promotionBox - promotion_plus */
.promotion_plus {position: absolute; top: 90px; right: 0;
    width: 300px; height: 40px; 
    background-color: var(--color-orange);
    border-radius: 10px; font-size: 25px; font-weight: 400;
    color: #fff; text-align: center; line-height: 40px;}

/* #promotionBox - promotion_content */
.promotion_wrap {width: 100%; height: 460px;  
    margin-top: 120px;}
.promotion_wrap ul {width: 100%; height: 100%; margin: auto;}
.promotion_wrap ul li {position: relative; float: left; 
    width: 25%; height: 50%; border: 1px solid #ddd;
    box-sizing: border-box;}
.promotion_wrap ul li dl {position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; height: 80%;}
.promotion_wrap ul li dl dt {position: absolute; bottom: 0; left: 0;
    width: 100%; height: 20px; font-size: 20px; font-weight: 600; color: #333; overflow: hidden; text-align: center; 
    line-height: 20px; white-space: nowrap; text-overflow: ellipsis;}
.promotion_wrap ul li dl dd {position: absolute; top: 0; left: 0;
    width: 100%; height: 70%; background-color: transparent;
    background-repeat: no-repeat; background-position: 50% 50%;
    background-size: contain;}
.pro_img_01 {
    background-image: url("../../img/main/promotionBox/img_01.png");}
.pro_img_02 {
    background-image: url("../../img/main/promotionBox/img_02.png");
}
.pro_img_03 {
    background-image: url("../../img/main/promotionBox/img_03.png");
}
.pro_img_04 {
    background-image: url("../../img/main/promotionBox/img_04.png");
}
.pro_img_05 {
    background-image: url("../../img/main/promotionBox/img_05.png");
}
.pro_img_06 {
    background-image: url("../../img/main/promotionBox/img_06.png");
}
.pro_img_07 {
    background-image: url("../../img/main/promotionBox/img_07.png");
}
.pro_img_08 {
    background-image: url("../../img/main/promotionBox/img_08.png");
}

/* #promotionBox - content hover */
.promotion_wrap ul li:hover {
    box-shadow: 5px 7px 7px #333; box-sizing: border-box;
    border: 5px solid var(--color-orange);}
.promotion_wrap ul li a:hover {outline: 0;}

/* ========================================== */

/* #lunaBox */
#lunaBox {position: relative; background-size: cover; 
    background-repeat: no-repeat; background-position: 50% 50%;
    background-image: url("../../img/main/lunaBox/luna_bg.png");}
#lunaBox::before {content: ""; display: block; position: absolute; 
    top: 0; left: 0; z-index: 1; width: 100%; height: 100%; 
    background-color: rgba(0,0,0,0.4);}
.luna_full_wrap {position: relative; z-index: 2;
    width: 62.625vw; min-width: 900px;
    height: 630px; margin: auto;}
.luna_full_wrap > h2 {color: #fff;}
.luna_btn_content_wrap {position: relative; 
    width: 100%; height: 540px;}

/* #lunaBox - 전체 button */
.luna_button {position: absolute; top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40; width: 90%; height: 0;}
.luna_button button {width: 60px; height: 150px;
    background-repeat: no-repeat; background-position: 50% 50%;
    background-size: contain;}
.luna_next_btn {float: right; background-image: url("../../img/main/lunaBox/right_button_icon.png");}
.luna_prev_btn {float: left; background-image: url("../../img/main/lunaBox/right_button_icon%20copy.png");}

/* #lunaBox - content */

.luna_wrap {width: 100%; height: 100%;
    margin: auto; margin-top: 40px; box-sizing: border-box; 
    overflow: hidden;}
.luna_wrap ul {position: relative; width: 300%; height: 100%; min-height: 300px}
.luna_wrap ul:after,
.luna_wrap ul::after{content:""; display:block; clear: both;}
.luna_wrap ul li {position: relative; float: left; width: 33.333333%;
     height: 100%; box-sizing: border-box; background-color: #fff; 
     border: 2px solid #333; border-radius: 20px;}
.luna_wrap ul li:nth-child(1) {width: 33.333334%}
.luna_content_wrap {position: absolute; top:50%; left:50%;
    transform:translate(-50%, -50%); 
    display: flex; justify-content: center;
    width: 80%; height: auto; margin: auto;}

/* content_area */
.luna_content_area {
    width: 13.54166666vw; min-width: 250px; max-width: 480px; 
    height:auto; min-height: 210px; padding: 3rem 0; box-sizing: border-box;}
.luna_content_area dl {width: 100%; height:auto;}
.luna_content_area dl dt {width: 100%; height: 70px; 
    font-size: 24px; font-weight: 900; word-break: keep-all;
    text-align: center; color: #333; line-height: 30px;}
.luna_content_area dl dd {width: 100%; height: auto; 
    min-height: 120px;
    margin-top: 2.083333vw; font-size: 16px; font-weight: 400;
    text-align: center; color: #333; word-break: keep-all;
    line-height: 20px;}
.luna_content_more {width: 100%; height: 30px; margin-top: 30px;
    color: #333; font-size: 20px; text-align: center; line-height: 30px;
    text-decoration: underline; font-weight: 600;}

/* img_area */
.luna_img_area {width: 25vw; max-width: 600px; 
    height:425px; margin-left: 50px;
    background-repeat: no-repeat; background-size: cover;
    background-position: 50% 50%;}

.luna_mask_img {background-image: url("../../img/main/lunaBox/luna_img_04.jpg");}
.luna_music_img {background-image: url("../../img/main/lunaBox/luna_img_01.png");}
.luna_park_img {background-image: url("../../img/main/lunaBox/luna_img_08.jpg")}


/* ========================================== */

/* #attractionBox */
#attractionBox {position: relative; overflow: hidden;}
.attraction_full_wrap {position: absolute; top: 240px; left: 50%;
    transform: translateX(-50%); width: 65.625vw; min-width: 900px;
    height: 630px; z-index: 10;}
.attraction_wrap {position: relative; width: 100%; height: 540px;
    min-height: 150px; margin-top: 40px;}

/* attraction_button */
.attraction_button {position: absolute; top: 50%; left: 0;
     width: 100%; height: 0;}
.attraction_button button {width: 60px; height: 150px;
    background-repeat: no-repeat; background-position: 50% 50%;
    background-size: contain; transform: translateY(-50%)}
.attraction_next_btn {float: right; background-image: url("../../img/main/attractionBox/attraction_right_btn_icon.png");}
.attraction_prev_btn {float: left; background-image: url("../../img/main/attractionBox/attraction_left_btn_icon.png");}

/* attraction_content */
.attraction_content  {width: 80%; height: 100%;
    border: 1px solid #333; 
    margin: auto; overflow: hidden; box-shadow: 4px 3px 5px #ccc;}
/* attraction_content - 글자영역*/
.attraction_info {padding: 30px 20px; box-sizing: border-box;}
.attraction_info dl {width: 100%; height: 80%;}
.attraction_info dt {width: 100%; height: 30px; font-size: 25px; text-align: left;
  font-weight: 900; line-height: 30px; color: #333; margin-bottom: 10px;}
.attraction_info dd {width: 100%; height: auto; min-height: 20px;
  word-break: keep-all; white-space: normal;
  font-size: 16px; color: #333; line-height: 20px; text-align: left;}
.attraction_info div {width: 100%; height: 20px; margin-top: 10px;
  font-size: 20px; text-align: left; color: #333; font-weight: 600;
  text-decoration: underline;}
/* attraction_content - image영역 */
.attraction_content > ul {position: relative; z-index: 50;
    width: 500%; height: 100%;}
.attraction_content > ul > li {position: absolute; top:0; left: 0;
    float: left; width: 20%; height: 100%;}
.attraction_content > ul > li.action {z-index: 100;}
.attraction_list {width: 100%; height: 100%;}
.attraction_list li {float: left;
    width: 33.333333%; height: 50%; background-color: #fff;}
.attraction_list li:nth-child(3),.attraction_list li:nth-child(6){
    width: 33.333334%;}
.attraction_list > li > a {position: relative;
    background-repeat: no-repeat; background-position: 50% 50%;
    background-size: cover; outline: 0; transition: all 300ms ease;}
.attraction_list > li > a::before {content: " "; display: block;
  position: absolute; top: 0; left: 0; opacity: 0; z-index: 50;
  width: 100%; height: 100%; background-color: rgba(0,0,0,0.7);}
.attraction_list > li > a:hover::before {opacity: 1;}
.attraction_list > li > a:hover {background-size: 150% auto;}
.center_line {display: block; position: absolute; z-index:60; top: 50%; left: 0; width: 100%; height:0; text-align: center; color:#fff; font-weight: 600;
font-size: 25px;}
.center_line > .center_text{ display: block; width: 100%; height: auto; transform:translateY(-10%); transition: all 300ms ease; opacity:0;}
.attraction_list > li > a:hover .center_text,
.attraction_list > li > a:focus .center_text {
  transform:translateY(-50%); opacity:1;}

/* attraction_content - attraciton이미지삽입*/
/*attraction_01*/
.attraction_01_01 a {background-image: url("../../img/main/attractionBox/attraction_02_01.jpg");}
.attraction_01_02 a {background-image: url("../../img/main/attractionBox/attraction_02_02.jpg");}
.attraction_01_03 a {background-image: url("../../img/main/attractionBox/attraction_02_03.jpg");}
.attraction_01_04 a {background-image: url("../../img/main/attractionBox/attraction_02_04.jpg");}
.attraction_01_05 a {background-image: url("../../img/main/attractionBox/attraction_02_05.jpg");}
/*attraction_02*/
.attraction_02_img_area li:nth-child(5) a {background-image: url("../../img/main/attractionBox/attraction_01_01.jpg");}
.attraction_02_img_area li:nth-child(3) a {background-image: url("../../img/main/attractionBox/attraction_01_02.png");}
/*attraction_03*/
.attraction_03_img_area li:nth-child(2) a {background-image: url("../../img/main/attractionBox/attraction_03_01.png");}
.attraction_03_img_area li:nth-child(3) a {background-image: url("../../img/main/attractionBox/attraction_03_02.png");}
.attraction_03_img_area li:nth-child(4) a {background-image: url("../../img/main/attractionBox/attraction_03_03.png");}
.attraction_03_img_area li:nth-child(5) a {background-image: url("../../img/main/attractionBox/attraction_03_04.jpg");}
.attraction_03_img_area li:nth-child(6) a {background-image: url("../../img/main/attractionBox/attraction_03_05.jpg");}
/*attraction_04*/
.attraction_04_img_area li:nth-child(2) a {background-image: url("../../img/main/attractionBox/attraction_04_01.jpg");}
.attraction_04_img_area li:nth-child(3) a {background-image: url("../../img/main/attractionBox/attraction_04_02.png");}
.attraction_04_img_area li:nth-child(4) a {background-image: url("../../img/main/attractionBox/attraction_04_03.png");}
.attraction_04_img_area li:nth-child(5) a {background-image: url("../../img/main/attractionBox/attraction_04_04.jpg");}
.attraction_04_img_area li:nth-child(6) a {background-image: url("../../img/main/attractionBox/attraction_04_05.jpg");}
/*attraction_05*/
.attraction_05_img_area li:nth-child(2) a {background-image: url("../../img/main/attractionBox/attraction_05_01.png");}
.attraction_05_img_area li:nth-child(4) a {background-image: url("../../img/main/attractionBox/attraction_05_02.png");}
.attraction_05_img_area li:nth-child(6) a {background-image: url("../../img/main/attractionBox/attraction_05_03.jpg");}
/*no_attraction*/
.attraction_none_img {background-image: url("../../img/main/attractionBox/no_attraction.PNG");
background-size: contain; background-repeat: no-repeat;
background-position: 50% 100%;}

/* #attractionBox - bg animation*/
.wheel {position: absolute; top: 93px; left: -444px; 
    width: 967px; height: 1174px; opacity: 0.2;}

@keyframes wheel_rot {
    0% {transform: rotate(0g)}
    100% {transform: rotate(360deg)}
}

@keyframes ballon_move_01 {
    0%{ transform: translateX(0) rotate(-15deg); bottom: -100px;}
    30%{ transform: translateX(-2rem); opacity:1;}
    65%{ transform: translateX(2rem) rotate(15deg); opacity:0.7;}
    100% {transform: translateY(-160px)}
}

@keyframes ballon_move_02 {
  0%{ transform: translateX(0) rotate(-15deg); bottom: -100px;}
  30%{ transform: translateX(-2rem); opacity:1;}
  65%{ transform: translateX(2rem) rotate(15deg); opacity:0.7;}
  100% {transform: translateX(-4rem) rotate(0); bottom: 100%; opacity: 0.1;}
}

.attraction_animation_01 {position: absolute; bottom: 0; left: 0;
  width: 100%; height: 630px; background-size: contain;
  background-repeat: no-repeat; background-position: 50% 50%;
  background-image: url("../../img/main/attractionBox/big_wheel_01.png");}
.attraction_animation_02 {position: absolute; top: 0; left: 0px;
  z-index: 1; width: 967px; height: 954px; background-size: contain;
  background-repeat: no-repeat; background-position: 50% 50%;
  background-image: url("../../img/main/attractionBox/big_wheel_02.png");
  animation: wheel_rot 100s infinite linear;}
.attraction_animation_03 {position: absolute; bottom:0; left: 550px;
  width: 42px; height: 74px; background-size: contain; 
  z-index: 3; opacity: 0.5;
  background-repeat: no-repeat; background-position: 50% 50%;
  background-image: url("../../img/main/attractionBox/ballon_03.png");
  animation: ballon_move_02 10s infinite ease-out;}
.attraction_animation_04 {position: absolute; bottom: 0; right: 250px;
  width: 78px; height: 107px; background-size: contain; opacity: 0.4;
  background-repeat: no-repeat; background-position: 50% 50%;
  background-image: url("../../img/main/attractionBox/ballon_04.png");
  animation: ballon_move_02 10s infinite ease-in;}
.attraction_animation_05 {position: absolute; bottom: -100px; right: 200px; 
  width: 32px; height: 89px;  background-size: contain; opacity: 0.4;
  background-repeat: no-repeat; background-position: 50% 50%;
  background-image: url("../../img/main/attractionBox/ballon_01.png");
  animation: ballon_move_02 15s infinite ease-out;}


/* ========================================== */

/* #informationBox */
#informationBox {width: 100%; height: 100vh; min-height: 960px; background-color: #fff;}
.info_full_box {width: 65.625vw; min-width: 900px; height: 100%; margin: auto;}
.info_full_box p {width: 100%; height: 30px;
      margin: auto; text-align: center; line-height: 30px; color:#333; 
     margin-top: 40px; word-break: keep-all;}
.info_more {width: 240px; height: 40px; margin: auto; margin-top: 20px;
    background-color: var(--color-orange); text-align: center;
    border-radius: 10px; margin-bottom: 30px;
    font-size: 20px; font-weight: 600; color: #fff; line-height: 40px;}
.info_full_box ul {width: 100%; height: 420px}
.info_full_box ul li {float: left; width: 22%; 
    height: 100%; padding: 30px; box-sizing: border-box; 
    margin-left: 4%; background-color: #fff;
    border: 1px solid #333;}
.info_full_box ul li:hover {outline: 3px solid #f70;}
.info_full_box ul li a {outline: 0;}
.info_full_box ul li:first-child {margin-left: 0}
.info_full_box ul li div {width: 100%; height: 240px;
    margin-bottom: 30px; background-position: 50% 50%;
    background-repeat: no-repeat; background-size: contain;}
.info_text {width: 100%; height: auto;}
.info_text dt {width: 100%; height: 20px; white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis; color: #333;
    font-weight: 600; font-size: 20px;
    text-align: left; line-height: 20px; margin-bottom: 20px;}
/* info_image */
.info_img_01 {background-image: url("../../img/main/infoBox/info_img_01.png");}
.info_img_02 {background-image: url("../../img/main/infoBox/info_img_02.png");}
.info_img_03 {background-image: url("../../img/main/infoBox/info_img_03.png");}
.info_img_04 {background-image: url("../../img/main/infoBox/info_img_04.png");}

/* ========================================== */

/* #footBox */
#footBox {position: relative; width: 100%; height: 300px; background-color: #423a3a;
    padding: 110px 0 90px; box-sizing: border-box;}
.footer_adress {width: 65.625vw; min-width: 900px; height: auto; min-height: 70px; 
    margin: auto;}
.footer_adress h2 {float: left; width: 240px; height: 70px;
    background-size: contain; background-position: 50% 50%;
    background-repeat: no-repeat; background-image: url("../../img/main/footBox/foot_logo.png");}
adress {float: right; width: 70%; height: auto;}
adress > p {text-align: left; color: #fff;line-height: 16px;}
.copyright {margin-top: 10px;}
/* footer top*/
.footer_family_area {position: absolute; top:0; left: 0;
    width: 100%; height: 60px; background-color: #1ea;}
.footer_family_area > div { 
    color: #fff; font-size: 30px; }
.app_down {float: left; width: 50%; height: 100%; 
    background-color: #811414; color: #fff; font-size: 30px; 
    text-align: center; font-weight: 600; line-height: 60px;}
.family_site_area {float: left; width: 50%; height: 300%;}
.family_site_area dl {position: relative; width: 100%; height: 100%;}
.family_site_area dt {width: 100%; height: 60px;color: #fff; 
    font-size: 30px; background-color: #660000;
    text-align: center; font-weight: 600; line-height: 60px;}
.family_site_area dt i {margin-left: 20px; font-size: 2rem;}
.family_site_area dt.footer_action i{transform: rotate(180deg); }
.family_site_area dd {display: none; position: absolute; bottom: 180px; left: 0;
    width: 100%; height: 120px; background-color: rgba(0,0,0,0.7);}
.family_site_area dd ul {width: 100%; height: 100%;}
.family_site_area dd ul li {width: 100%; height: 50%; 
    font-size: 20px; text-align: center; line-height: 60px;
    color: #fff;}


/*==============================================*/
/*================@@mediaQuery@@================*/
/*==============================================*/


/* mobile*/
@media screen and (max-width:480px){

    
    /* #headBox */
    #headBox {position: relative; min-width: 260px; 
        height: 110px; min-height: 110px;
        background-color: #0f0915;}
    .headBottom {padding: 60px 20px 20px; min-width: 220px;}
    h1 {width: 110px; min-width: 110px; height: 30px;}
    .headbottom_wrap p {display: none;}
    #navBox {width: 45px;}
    .menuBox {width: 30px; height: 30px;}
    .searchBox {display: none;}
    .headtop_wrap {min-width: 220px;}
    .sns_wrap {width: 26px;}
    .snsBox {display: none;}
    .sns_mobile_icon {display: block; width: 100%; height: 100%;}
    .sns_mobile_icon button {width: 100%; height: 100%;
        background-image: url("../../img/main/headBox/share%20icon.png");
        background-repeat: no-repeat; background-position: 50% 50%;
        background-size: contain;}
    
    .menu_btn i {width: 30px; min-width: 30px; height: 2px;}
    .line_02 {transform: translateY(-10px);}
    .line_03{transform: translateY(10px);}
    .menu_area_wrap {position: absolute; 
        top: -60px; left: 50%; transform: translateX(-50%);
        width: 100vw; height: 1500px; min-height: 1500px;
        padding:60px 0 120px; box-shadow: 0 0 10px #333;}
    .red_logo {display: none;}
    .menu_area {width: 100%; min-width: 220px; 
        max-width: 400px; height: 1260px; margin-top: 100px;}
    .menu {float: none; width: 80%; height: 25%; margin: auto;}
    .menu::after {top:290px; left: 0;
        width: 100%; height: 2px;}
    .menu:last-child::after {display: none;}
    .menu dl {width: 100%; height: 100%;}
    .menu dt {height: 15%; line-height: 30px;}
    .menu dt::before {display: none;}
    .menu dd {height: 75%; margin-top: 10%;}

    /* ========================================== */

    /* #localNavBox */
    #localNavBox {display: none;}

    /* ========================================== */

    /* #viewBox */
    #viewBox {height: 79.16666666666667vw;}
    .view_img_wrap ul li {background-size: cover;}
    .view_img_01 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_01.jpg")}
    .view_img_02 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_02.jpg")}
    .view_img_03 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_03.png")}
    .view_img_04 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_04.jpg")}
    .view_img_05 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_05.jpg")}
    
    .view_indicator{position: absolute; bottom: -50px; right: 50%;
        transform: translate(50%); width:100%; height: 50px;
        padding: 15px 0; background-color: #0f0915;
        box-sizing: border-box;}
    .view_indicator ul {width: 220px; height: 30px; margin: auto;}
    .view_indicator li {width: 20px; height: 20px; border: 3px solid #fff;}
    .view_indicator li.view_action {width: 60px; border: 3px solid #fff;} 
    /* ========================================== */

    /* #promotionBox */
    #promotionBox {height: 670px; min-height: 670px; padding: 100px 20px 120px; margin-top: 50px;}
    .pro_full_wrap {width: 92.5vw; min-width: 220px;}
    .promotion_wrap {width: 80%; margin: auto; margin-top: 40px; 
        height: 230px; min-height: 230px; overflow: hidden;}
    .promotion_wrap ul {width: 800%; height: 100%;}
    .promotion_wrap ul li {width: 12.5%; height: 230px;}
    .promotion_plus {top: auto; bottom: 0; left: 50%; 
        transform: translate(-50%); width: 220px;}    
    .pro_full_wrap > h2 {width: 220px; height: 100px; white-space: pre-line; }
    .promotion_btn {display: block; position: absolute; z-index: 100; 
        top: 235px; left: 50%; transform: translate(-50%);
        width: 100%; min-width: 240px; height: 0;}
    .promotion_btn button{width: 10%; height: 55px;
        background-repeat: no-repeat; background-size: contain;
        background-position: 50% 50%;}
    .promotion_next_btn {float: right; background-image: url("../../img/main/promotionBox/nextbtn.png");}
    .promotion_prev_btn {float: left; background-image: url("../../img/main/promotionBox/prevbtn.png");}
    /* ========================================== */

    /* #lunaBox */
    #lunaBox {height: auto; min-height: 1500px; 
        padding: 100px 20px 120px; background-image: url("../../img/main/lunaBox/luna_background_img(mobile).jpg");}
    #lunaBox::before {display: none;}
    .luna_full_wrap {width: 100%; min-width: 200px;
        height: 100%; margin: auto;}
    .luna_full_wrap > h2 {width: 100%; min-width: 220px; height: 100px;
        white-space: pre-line;}
    .luna_btn_content_wrap {height: 1300px;}
    .luna_button {display: none;} 
    .luna_wrap {overflow: visible;}
    .luna_wrap ul {width: 100%; height: 100%; min-height: 420px}
    .luna_wrap ul li {position: static; float: none; 
        width: 100%; height: 420px; box-sizing: border-box; 
        background-color: #fff; margin-top: 20px; padding: 30px 0;
        border: 2px solid #333; border-radius: 20px;}
    .luna_wrap ul li:nth-child(1) {width: 100%; margin-top: 0;}
    .luna_content_wrap {position: static; display: block;
        transform: translate(0,0);}
    
    .luna_content_area {padding: 0; height: 120px; min-height: 120px;
        width: 100%; min-width: 180px; max-width: 480px;}
    .luna_content_area dl {width: 100%; min-width: 180px; height:auto;}
    .luna_content_area dl dd {display: none;}
    .luna_content_more {margin-top: 20px;}

    .luna_img_area {width: 100%; min-width: 180px; 
        height: 200px; margin-left: 0; margin-top: 30px;}


    /* ========================================== */

    /* #attractionBox */
    #attractionBox {height: 865px; min-height: 865px; padding: 100px 20px 120px;} 
    .attraction_wrap {height: 550px;}
    .attraction_full_wrap {top: 100px; 
        width: 90.833333%; min-width: 220px;
        height: auto; min-height: 300px;}
    .attraction_full_wrap > h2 {white-space: pre-line; 
        width: 220px; height: auto;}
    .attraction_content {width: 80%; box-shadow: 4px 3px 5px #ccc;}
    .attraction_button button {width: 20px; height: 100px;}
    .attraction_info dt {height: auto; word-break: keep-all;
        text-align: center; margin-bottom: 20px;}
    .attraction_info dd {text-align: center;}
    .attraction_info div {margin-top: 20px; text-align: center;
        word-break: keep-all;}
    .attraction_list li {width: 100%; }
    .attraction_list li:nth-child(3),.attraction_list li:nth-child(6){
    width: 100%;}
    .attraction_list > li > a:hover {background-size: cover;}
    .attraction_list > li > a::before {display: none;}
    .attraction_list > li > a {}
    .center_line {display: none;}
    .wheel {display: none;}
    .attraction_animation_03 {left: 50px;}
    .attraction_animation_04 {right: 70px;}
    .attraction_animation_05 {right: 140px;}
    
    /* ========================================== */

    /* #informationBox */
    #informationBox {height: auto; min-height: 815px; padding: 100px 20px 120px;}
    .info_full_box {position: relative; width: 100%; min-width: 200px; 
        max-width: 440px; padding-bottom: 80px;}
    .info_full_box > h2 {white-space: pre-line; 
        width: 220px; height: auto;}
    .info_full_box p {height: auto; margin-bottom: 40px;}
    .info_more {position: absolute; bottom:0; left: 50%; transform: translate(-50%);
         margin: 0;}
    .info_full_box ul {width: 100%; height: auto;}
    .info_full_box ul li {float: none; width: 100%; height: auto; 
        padding: 20px; margin-left: 0; margin-bottom: 20px;}
    .info_full_box ul li div {width: 150px; height: 150px; margin: auto;
        margin-bottom: 20px;}
    .info_text {width: 100%;}
    .info_text dt {text-align: center;}
    .info_text dd {text-align: center;}
    /* ========================================== */

    /* #footBox */
    #footBox {min-width: 200px; height: auto; padding: 100px 20px 120px;}
    .footer_adress {width: 100%; min-width: 200px;}
    .footer_adress h2 {float: none; margin-bottom: 40px;
        width: 200px; height: 56px;}
    adress {float: none; width: 100%; height: auto;}
    .app_down {width: 100%;}
    .family_site_area {display: none;}
    
}/* mobile end ====================================== */

/* tablet */
@media screen and (min-width:481px) and (max-width:1024px) {
    
    
    /* #headBox */
    #headBox {position: relative; background-color: #0f0915;}
    .headbottom_wrap p {display: none;}
    .headBottom {padding: 60px 60px 20px}
    
    .sns_wrap {width: 26px;}
    .snsBox {display: none;}
    .sns_mobile_icon {display: block; width: 100%; height: 100%;}
    .sns_mobile_icon button {width: 100%; height: 100%;
        background-image: url("../../img/main/headBox/share%20icon.png");
        background-repeat: no-repeat; background-position: 50% 50%;
        background-size: contain;}
    
    .line_02 {transform: translateY(-20px);}
    .line_03{transform: translateY(20px);}
    .menu_area_wrap {position: absolute; top:-60px; left: 50%; 
        transform: translateX(-50%); width: 100vw;
        height: 1000px; min-height: 1000px; padding:60px 0 120px;
        box-shadow: 0 0 10px #333;}
    .menu_area {width: 76.171875%; min-width: 460px;
    max-width: 904px; height: 720px; margin: auto; margin-top: 150px;}
    .red_logo {margin-left: 60px;}
    .menu {float: none; width: 100%; height: 25%}
    .menu::after {top:180px; left: 0; width: 100%; height: 2px;}
    .menu dl {padding: 20px; box-sizing: border-box;}
    .menu dt {float: left; width: 50%; height: 100%; line-height: 230px;}
    .menu dt::before {top:0; width: 60px; height: 60px;}
    .menu dd {float: right; width: 50%; height: 100%; 
        margin-top: 20px; line-height: 35px;}
    .menu .menu_02_list {margin-top: 0;}
    
    /* ========================================== */

    /* #localNavBox */
    #localNavBox {display: none;}

    /* ========================================== */

    /* #viewBox */
    #viewBox {height: 86.9140625vw;}
    .view_img_wrap ul li {background-size: cover;}
    .view_img_01 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_01.jpg")}
    .view_img_02 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_02.jpg")}
    .view_img_03 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_03.png")}
    .view_img_04 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_04.jpg")}
    .view_img_05 {
    background-image: url("../../img/main/viewBox/mobile_main_ing_05.jpg")}
    
    .view_indicator{position: absolute; bottom: -50px; right: 50%;
        transform: translate(50%); width:100%; height: 50px;
        padding: 10px 0; background-color: #0f0915;
        box-sizing: border-box;}
    .view_indicator ul {width: 300px; height: 30px; margin: auto;}
    
    /* ========================================== */

    /* #promotionBox */
    #promotionBox {height: 270.833333vw; max-height: 1310px; padding: 100px 0 120px; margin-top: 50px;}
    .pro_full_wrap {width: 76.171875%; min-width: 460px;}
    .promotion_wrap ul {height: 100%;}
    .promotion_wrap ul li {width: 50%; height: 230px;
        padding: 2.9296875% 1.953125%;}
    .promotion_plus {left: 50%; transform: translate(-50%);}

    /* ========================================== */

    /* #lunaBox */
    #lunaBox {height: auto; min-height: 1280px; 
        background-size: cover;
        background-position: 50% 50%;
        padding: 100px 0 120px; 
        background-image: url("../../img/main/lunaBox/luna_background_img(mobile).jpg");}
    #lunaBox::before {display: none;}
    .luna_full_wrap {width: 60%; min-width: 300px; 
        height: auto; min-height: 1060px;}
    .luna_btn_content_wrap{height:auto;}
    .luna_full_wrap > h2 {white-space: pre-line; 
        width: 300px; height: auto;}
    .luna_button {width: 150%}
    .luna_wrap {width: 100%; height: auto; min-height: 920px; overflow: hidden;}
    .luna_wrap ul {height: auto;}
    .luna_wrap ul li {display: block; height: auto; min-height: 920px;
        padding: 50px 50px;}
    .luna_content_wrap {display: block; position: static; 
        width: 100%; transform: translate(0, 0);}
    .luna_content_area {float: none;
        width: 100%; min-width: 0px; 
        max-width: 460px; height: auto; margin: auto;}
    .luna_content_area dl dt {height: auto; min-height: 70px;}
    .luna_content_area dl dd {margin-top: 20px; line-height: 30px;}
    .luna_img_area {float: none;
        width: 100%; height: 370px; 
        margin-left: 0; margin-top: 50px;}


    /* ========================================== */

    /* #attractionBox */
    #attractionBox {height: 800px; min-height: 800px; padding: 0;}
    .attraction_full_wrap {top: 100px;
        width: 76.171875%; min-width: 440px; height: 580px;}
    .attraction_wrap {height: 480px; min-height: 480px}
    .attraction_full_wrap > h2 {white-space: pre-line; 
        width: 300px; height: auto;}
    .attraction_content {width: 70%;}
    .attraction_list li {width: 100%}
    .attraction_list li:nth-child(3),.attraction_list li:nth-child(6){
    width: 100%;}
    .attraction_list > li > a:hover {background-size: cover;}
    .attraction_list > li > a::before {display: none;}
    .center_line {display: none;}
    .attraction_animation_03,.attraction_animation_04,
    .attraction_animation_05 {display: none;}
    
    /* ========================================== */

    /* #informationBox */
    #informationBox {height: auto; min-height: 815px; 
        padding: 100px 0 120px;}
    .info_full_box {position: relative; width: 76.171875%; min-width: 440px;
        padding-bottom: 80px;}
    .info_full_box p {margin-bottom: 40px; height: auto;}
    .info_more {position: absolute; bottom:0; left: 50%; transform: translate(-50%);
         margin: 0;}
    .info_full_box ul {width: 100%; height: 660px;}
    .info_full_box ul li {float: none; width: 100%; height: 150px; 
        padding: 20px;
        margin-left: 0; margin-bottom: 20px;}
    .info_full_box ul li div {float: left; width: 110px; height: 110px;
    margin-bottom: 0; margin-right: 40px;}
    .info_text {float: left; width: 60%;}

    /* ========================================== */

    /* #footBox */
    #footBox {min-width: 200px; height: auto; padding: 100px 20px 120px;}
    .footer_adress {width: 100%; min-width: 200px;}
    .footer_adress h2 {float: none; margin-bottom: 40px;}
    adress {float: none; width: 100%; height: auto;}

}/* tablet end ====================================== */

/* pc - labtop */
@media screen and (min-width:1025px) and (max-width:1440px) {
    
    #promotionBox,#lunaBox,#attractionBox,#informationBox
    {width: 100%; height: 100vh; min-height: 800px;
    padding: 170px 0 90px; box-sizing: border-box;}
    
    /* #headBox */
    .headbottom_wrap p {display: none;}
    .line_02 {transform: translateY(-20px);}
    .line_03{transform: translateY(20px);}
    /* ========================================== */

    /* #localNavBox */
    #localNavBox {position: absolute;}

    /* ========================================== */

    /* #viewBox */
    #viewBox {}

    /* ========================================== */

    /* #promotionBox */
    .pro_full_wrap {height: 540px;}
    .promotion_wrap {height: 380px; margin-top: 110px;}
    
    /* ========================================== */

    /* #lunaBox */
    .luna_button {top: 16.020833vw; left:50%; top: 40%; width: 90%;}
    .luna_button button {width: 60px; height: 93px;}
    .luna_full_wrap {height: 540px;}
    .luna_btn_content_wrap {height: 450px;}
    
    /* ========================================== */

    /* #attractionBox */
    .attraction_full_wrap {height: 540px; top:170px;}
    .attraction_wrap {height: 450px;}
    .attraction_list li {width: 50%}
    .attraction_list li:nth-child(3),
    .attraction_list li:nth-child(6){width: 50%;}

    /* ========================================== */

    /* #informationBox */
    .info_full_box {height: 540px;}
    .info_full_box ul {height: 330px;}
    .info_full_box ul li {width: 30%; margin-left: 5%;
        padding: 20px;}
    .info_full_box ul li:nth-child(4) {display: none;}
    .info_full_box ul li div {height: 200px;}
    /* ========================================== */

    /* #footBox */
    #footBox {}

}/* pc - labtop end ====================================== */

/* pc */
@media screen and (min-width:1441px) {
    
    /* #headBox */
    #headBox {}

    /* ========================================== */

    /* #localNavBox */
    #localNavBox {}

    /* ========================================== */

    /* #viewBox */
    #viewBox {}

    /* ========================================== */

    /* #promotionBox */
    #promotionBox {}

    /* ========================================== */

    /* #lunaBox */
    #lunaBox {}

    /* ========================================== */

    /* #attractionBox */
    #attractionBox {}

    /* ========================================== */

    /* #informationBox */
    #informationBox {}
    /* ========================================== */

    /* #footBox */
    #footBox {}

}/* pc - full end ====================================== */
